<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/about.css" th:href="@{/css/about.css}" rel="stylesheet" />
    <title>About</title>
</head>
<body>
    <div class="navigation">
        <h4 class="title-site">DevProduct</h4>
        <nav>
            <a class="bth" href="/">Home</a>
            <a class="bth" href="#">Group VK</a>
            <a class="bth" href="#">Author</a>
        </nav>
    </div>

    <section class="section">

        

    </section>

    <footer class="foot">
        <p class="footer-text">
            Information in VK Group Developer <a href="https://vk.com/alexdev_slash_code" class="vk" target="_blank">Group Developer</a>
        </p>
    </footer>
</body>
</html>